<h1>Tacos Near you</h1>
<div>
    Finding Tacos
</div>
<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="fastfood">
    <input type="checkbox" id="fastfood" class="mdl-checkbox__input" ng-model="fastFood" checked>
    <span class="mdl-checkbox__label">Fast Food</span>
</label>
<ul class="demo-list-three mdl-list" ng-repeat="key in lc.filterList">
    <li class="mdl-list__item mdl-list__item--three-line" ng-click="lc.getDirections(key.location.coordinate.latitude,
    key.location.coordinate.longitude,
    lc.user.lat,
    lc.user.lon)">
    <span class="mdl-list__item-primary-content">
      <img src="{{key.image_url}}" class="material-icons mdl-list__item-avatar">
      <span>{{key.name}}</span>
      <span class="mdl-list__item-text-body">
        {{key.snippet_text}}
      </span>
    </span>
    <span class="mdl-list__item-secondary-content">
        <img ng-src="{{key.rating_img_url}}" alt="">
    </span>
    </li>
</ul>